.displayPlayers {
  display: inline-block;
  font-size: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-style: solid;
  border-width: thick;
}

#player1 {
  border-color: blue;
  margin-left: 12px;
  margin-right: 64px;
  margin-top: 16px;
  margin-bottom: 12px;
  padding-bottom: 6px;
}

#player2 {
  border-color: red;
  margin-left: 64px;
  margin-right: 12px;
  margin-top: 16px;
  margin-bottom: 12px;
  padding-bottom: 6px;
}

#holdError {
  display: none;
}

#currentRoll {
  font-size: 18px;
}